<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="rykn0wxx" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />

<title><%= content_for?(:title) ? yield(:title) + " | rykn0wxx" : "rykn0wxx" %></title>

<%= javascript_tag type: "text/javascript" do -%>
document.documentElement.className = "rykn0wxx js";
<% end -%>

<%= tag :meta, name: 'turbolinks-root', content: '/' %>
<%= tag :meta, name: 'turbolinks-cache-control', content: 'no-preview' %>
<%= tag :meta, name: 'turbolinks-visit-control', content: 'reload' %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
